In [24]:
# current draft of data
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [42]:
link = "https://steam250.com/20"

title = []
price = []
score = []
num_votes = []
genre = []
year = []

def func(element):
  return element.string

for i in range(13, 23):
    url = link + str(i)
    page = requests.get(url)
    # print(page.status_code)
    soup = bs(page.content, "html.parser")

    title_i = list(map(func, soup.select("div.appline > span.title > a"))) # v.col1.main.ranking div#\31 div.appline span.title a
    price_i = list(map(func, soup.select("div.appline > span.price, a.free")))
    score_i = list(map(func, soup.select("div:nth-child(3) > span.score")))
    num_votes_i = list(map(func, soup.select("div:nth-child(3) > span.votes")))
    genre_i = list(map(func, soup.select("div.appline > a.genre")))

    for j in range(0, 150):
        title.append(title_i[j])
        price.append(price_i[j])
        score.append(score_i[j])
        num_votes.append(num_votes_i[j])
        genre.append(genre_i[j])
        year.append("20" + str(i))

In [48]:
data = {
    "Year of Release" : year, 
    "Game Title" : title,
    "Game Price" : price,
    "Score" : score,
    "Votes" : num_votes,
    "Genre" : genre,
}

df = pd.DataFrame(data=data)

In [50]:
df.head()

,Year of Release,Game Title,Game Price,Score,Votes,Genre
0,2013,Tomb Raider,$14.99,8.61,"220,897 votes",Adventure
1,2013,Don't Starve,$9.99,8.60,"100,912 votes",Survival
2,2013,"Papers, Please",$9.99,8.58,"58,975 votes",Political
3,2013,The Wolf Among Us,$7.49,8.58,"30,036 votes",Adventure
4,2013,Outlast,$19.99,8.57,"99,737 votes",Horror

In [51]:
df.tail()

,Year of Release,Game Title,Game Price,Score,Votes,Genre
1495,2022,Melatonin,$14.99,8.12,"2,091 votes",Rhythm
1496,2022,Freedom Planet 2,$24.99,8.12,"1,170 votes",Platformer
1497,2022,TUNIC,$29.99,8.12,"8,350 votes",Exploration
1498,2022,Wylde Flowers,$24.99,8.12,761 votes,Cozy
1499,2022,14 Minesweeper Variants,$6.99,8.11,432 votes,Puzzle